{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<div class="about_royal">
<section class="desp_royal">
        <div class="heading_royal">
            <h1>Chakchakur</h1>
        </div>
        <div class="discription_royal">
            <p>
                The Chakchakur is New Year greatest festival celebrated by the people of the Kulung community. The area known as Mahakulung area is also taken to be the place of origin of the Kulung clan. The month of Poush (January 1st) is known as Chakchakur in the Kulung language.The festival is celebrated for three days from the 15th of the Nepali month Poush every year. This festival is also observed by the Kulung community in Sankhuwasabha, Ilam, Jhapa, Bhojpur and Kathmandu besides SolukhumbuIt is the New Year festival of the Kulungs and is celebrated by exchanging greetings and best wishes and receiving tika from seniors.

            </p>
        </div>
</section>
<section class="image_royal">
        <div class="image_royal_image">
            <img src="{% static 'images/i04_4.jpeg' %}"  alt="" srcset="">
        </div>
    </section>
</div>

{% endblock %}