{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<div class="carousel-frames">
    <div class="carousel-slides">
        <img src="{% static 'images/dashain1.jpeg' %}" style="width: 100%; height: 120%;" style="background-position: cover; background-repeat: no-repeat;" alt="">
    </div>
    
</div>
<br>
<br>
<br>
<div class="loshar-about" style="width: 60vw; margin: auto;">
    <div class="heaing-loshar">
        <h2>Dashain</h2>
    </div>
    <div class="loshar-about">
        <p style="text-align: justify; line-height: 25px; margin-top: 20px;">

            The Nepalese celebrate Dashain, the most important festival of the year, in the month of Kartik (late September and early October). Dashain is the longest and most holy festival on the Nepalese calendars, and it is commemorated by Nepalese of all castes and creeds across the country. Dashain, Nepal's big festivals and celebrations, is a time for family reunions, gifts and blessings, and elaborate pujas. Dashain honors Goddess Durga, who was formed from the shakti (energy) of all the gods and armed with their weapons. The fifteen-day festival takes place during the brilliant lunar fortnight, culminating on the full moon's day.
             </p>
        <p style="text-align: justify; line-height: 25px; margin-top: 20px;">
             

            Goddess Durga, who represents courage and prowess, is worshipped and sacrificed to ensure the advancement and prosperity of her believers. Pilgrims throng to numerous river confluences early in the morning and religious sanctuaries late at night throughout the first 10 days.
            </p>
        <div class="collective" style="width: 100%; display: flex;">
    <img src="{% static 'images/dashain2.jpeg' %}" style="margin-top: 10px;"  class='loshar-img' height="300" width="400" srcset="">
    <p style="text-align: justify; line-height: 25px; margin-top: 20px;  margin-left: 30px;">

        Dashain honors the gods' great victory over the evil demons. The Ramayan is one of the victorious legends recorded, in which Lord Ram slaughtered Ravana, the fiendish ruler of demons, after a long battle. Lord Ram is reported to have won the battle only when the goddess Durga was invoked. The major festival honors the triumph of good over evil, which is portrayed by goddess Durga destroying the horrible demon Mahisasur, who terrorized the world as a vicious water buffalo. The first nine days represent goddess Durga's nine-day long fight with the demon Mahisasur. The tenth day commemorates Mahisasur's death, while the subsequent five days represent the goddess's benediction on the victory. Dashain is a joyous occasion, and goddess Durga is revered as the heavenly mother goddess throughout the country.
        </p>

            </div>

        <p style="text-align: justify; line-height: 25px; margin-top: 20px;">


During Dashain, men and women dressed in their finest pay their respects to their elders in exchange for tika (a dab of red vermilion mixed with yogurt and rice) and blessings. During Nawami, a great number of animals are killed in front of officials, invitees, and guests at Hanuman Dhoka. The Taleju Temple, which is ordinarily closed to the public, is open to the public on the ninth day. The tenth day is called Vijaya Dashami where A Tika (red cinnabar dot) will be placed on the Junior forehead by elders. The full moon occurs on the last day, known as Kojagrat Purnima.

    </p>
    <div>
        <p><a href="
            
            "></a></p>
    </div>
    </div>
</div>


{% endblock %}