{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<div class="about_disclaimer">
    <section class="desp_disclaimer">
            <div class="heading_disclaimer">
                <h1>Disclaimer</h1>
            </div>
            <div class="discription_disclaimer">
                <p>
                    Every attempt has been made to guarantee that the content is accurate and reliable. Necessary amendments and revisions will be done if there are any shortages or discrepancies.<br> As a response, we request that you contact us via e-mail, social media, phone, or in person if you have any suggestions for adjustments or improvements. Thank you for your help!    
                </p>
            </div>
    </section>
</div>

{% endblock %}