{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<div class="containar">
    <div class="container__img-holder">
      <img src="{% static 'images/a1.jpeg' %}" alt="Image">
    </div>
    <div class="container__img-holder">
      <img src="{% static 'images/a2.jpeg' %}" alt="Image">
    </div>
    <div class="container__img-holder">
      <img src="{% static 'images/a3.jpeg' %}" alt="Image">
    </div>
    <div class="container__img-holder">
      <img src="{% static 'images/a4.jpeg' %}" alt="Image">
    </div>
    <div class="container__img-holder">
      <img src="{% static 'images/a5.jpeg' %}" alt="Image">
    </div>
    <div class="container__img-holder">
      <img src="{% static 'images/a6.jpeg' %}" alt="Image">
    </div>
    <div class="container__img-holder">
      <img src="{% static 'images/a7.jpeg' %}" alt="Image">
    </div>
    <div class="container__img-holder">
      <img src="{% static 'images/a8.jpeg' %}" alt="Image">
    </div>
    <div class="container__img-holder">
      <img src="{% static 'images/a9.jpeg' %}" alt="Image">
    </div>
    <div class="container__img-holder">
      <img src="{% static 'images/dashain.jpg' %}" alt="Image">
    </div>
    <div class="container__img-holder">
      <img src="{% static 'images/tihar.jpg' %}" alt="Image">
    </div>
    <div class="container__img-holder">
      <img src="{% static 'images/loshar.jpg' %}" alt="Image">
    </div>
  </div>
  
  <div class="img-popup">
    <img src="" alt="Popup Image">
    <div class="close-btn">
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>

{% endblock %}