{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<div class="about_royal">
    <section class="desp_royal">
            <div class="heading_royal">
                <h1>How To Get</h1>
            </div>
            <div class="discription_royal">
                <p>
                    Easy to get there, we have various options. Can take the jeep from Kathamndu to Chheskam, then need some 2 and half days trek. Also can take flight from Kathmandu to Phaplu, then jeep ride to Chheskam. 
If you are physically fit, you can take a flight from Kathmandu to Lukla then walk down to Chheskam which takes some 3 full days, quite ups and downs.  

    
                </p>
            </div>
    </section>
    <section class="image_royal">
            <div class="image_royal_image">
                <img src="{% static 'images/2.jpeg' %}" width="500" height="400" alt="" srcset="">
            </div>
        </section>
    </div>

{% endblock %}