{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<div class="carousel-frames">
    <div class="carousel-slides">
        <img src="{% static 'images/loshar.jpeg' %}" style="width: 100%;" style="background-position: cover; background-repeat: no-repeat;" alt="">
    </div>
</div>
<div class="loshar-about" style="width: 60vw; margin: auto;">
    <div class="heaing-loshar">
        <h2> Gyalpo Loshar</h2>
    </div>
    <div class="loshar-about">
        <p style="text-align: justify; line-height: 25px; margin-top: 20px;">

            Gyalpo Lhosar is a Sherpa new year festival celebrated in Nepal, Tibet, Sikkim, and Darjeeling, India. The Tibetan New Year is also known as Gyalpo Lhosar, which is widely celebrated by the Sherpa, Hyolmo and Bhotiya communities of Nepal. Different communities and regions celebrate in their own unique ways. Every year, from Falgun Shukla Pratipada, the second day of the waxing moon, till the full moon, the celebration is held.  
</p>
<p style="text-align: justify; line-height: 25px; margin-top: 20px;">

            Although Gyalpo Lhosar is celebrated for the two weeks, the first three days are main to celebrate. The second day of these 3 days is the main day to celebrate it. 
        </p>
        <div class="collective" style="width: 100%; display: flex;">
            <img src="{% static 'images/loshar2.jpeg' %}" alt="" style="margin-top: 10px;"  class='loshar-img' height="300" width="400" srcset="">
            <div class="content" style="display: flex; flex-direction: column;">
                <p style="text-align: justify; line-height: 25px; margin-top: 20px;  margin-left: 30px;">
                    Changkol, a beverage prepared from chhaang (a Tibetan cousin of beer), is served on the first day.
                </p>
                <p style="text-align: justify; line-height: 25px; margin-top: 20px;margin-left: 30px; ">
                    Gyalpo Lhosar is commemorated on the second day, which marks the beginning of the new year.
                </p>
                <p style="text-align: justify; line-height: 25px; margin-top: 20px; margin-left: 30px;">

                    People get together for a feast on the third day.
                </p>
            </div>
           
            
        </div>



    <p style="text-align: justify; line-height: 25px; margin-top: 20px;">


        Those who celebrate this festival extremely enjoy with various activities. They wear traditional dresses, sing and dance in chorus, play musical instruments, eat and drink various homemade items, gathering and spiritual performance is made. A traditional dance depicting a deer and a king's war is performed.
    </p>
    <div class="collective" style="width: 100%; display: flex;">
    <img src="{% static 'images/loshar3.jpeg' %}" alt="" style="margin-top: 10px;"  class='loshar-img' srcset="" height="300" width="220%">
    <p style="text-align: justify; line-height: 25px; margin-top: 20px; margin-left: 30px;">
        During the celebration, traditional dishes are served. Gutung, a soup made with nine types of beans and meat, wheat, rice, sweet potato, cheese, peas, green pepper, vermicelli noodles, and radish, is one of the main dishes. The soup is garnished by dumplings. Khapse, a deep-fried pastry popular during the holidays, represents the commencement of the festivities.
    </p>

</div>

    <p style="text-align: justify; line-height: 25px; margin-top: 20px;">


        People visit the nearby monasteries, chhortens and Stupas. Some ceremonial dances represent the tussle between Gods and Demons based on the Tibetan Lunar calendar.
    </p>

    </div>
</div>


{% endblock %}