{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<div class="about_royal">
    <section class="desp_royal">
            <div class="heading_royal">
                <h1>About The People in Mahakulung</h1>
            </div>
            <div class="discription_royal">
                <p>
                    Mahakulung is originally the land of the Kulung people, the one of the primordial community in Nepal. At present day other communities like; Sherpa, Chhetri and Dalit live together harmoniously here. Nepal is an incredibly diverse country and home to multiple religions, race, tribes, and cultures. The country has over 124 ethnic groups with their own distinct languages.  
The people here are very friendly, once introduced to you is most likely to invite you for a meal. Even the poorest people will share their meal with guests. Once a tourist begins to know the place and its people, he is no longer a stranger - he is a valued guest.
The people in this region grow potato, barley, maize, wheat, millet, beans etc. And mostly they eat ‘Dhindo’-(pudding made from millet, maize and wheat), potato, meat, curry and bread. They live in a very unique house made of stone, wood and clay. The main occupation of the people here are agriculture and tourism. As the Mt. Everest is very nearby from here, people go to Everest area for the job twice in year or throughout.  
Almost each and every households keep the pet animals like cow, buffalo, goat, pig, chicken, yak, sheep etc. Sometimes they supply animal products like ghee, milk, meat and crops to Everest region and make earnings. 
This area also very rich in cultures, they celebrate the Chakchakur, Tosh, Danshain, Tihar, and Losar festivals. Men wear Dhaka Topi, Daura-Suruwa, Fenga and women wear Guniu-Choli, Fariya, Kurta-Suruwal and Lukspa. 

    
                </p>
            </div>
    </section>
    <section class="image_royal">
            <div class="image_royal_image">
                <img src="{% static 'images/33.jpeg' %}" width="500" height="400" alt="" srcset="">
            </div>
        </section>
    </div>

{% endblock %}