{% extends 'home/main.html' %}
{% load static %}
{% block content %}

<style>
 .container {
	 max-width: 750px;
	 min-height: 16em;
	 border: 1px solid rgba(0, 0, 0, 0.1);
	 border-radius: 4px;
     margin-left: 130px;
}
 .container--tabs {
	 list-style: none;
	 display: flex;
	 flex-direction: row;
	 justify-content: flex-start;
	 align-items: stretch;
}
 .container--tabs .tab {
	 min-height: 2em;
	 padding: 1em;
	 box-sizing: border-box;
	 width: 100%;
	 text-align: center;
	 cursor: pointer;
     background-color: #063B5B;
	 color: white;
	 transition: background-color 0.25s;
}
 .container--tabs .tab:hover {
	 background-color: rgba(0, 0, 0, 0.25);
	 transition: background-color 0.25s;
	 color: white;
}
 .container--tabs .tabs--active {
	 background-color: #fff;
	 color: black;
	 pointer-events: none;
}
 .content {
	 display: none;
	 padding: 3em;
     text-align: justify;
}
 .content--active {
	 display: block;
}
 h3 {
	 font-weight: 700;
}
 p {
	 font-weight: 300;
}
 .content ul li {
     list-style: none;
     padding: 10px;
 }
 .reviewcard {
  box-shadow: 0px 20px 60px -20px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding: 30px 50px;
  font-family: sans-serif;
  font-weight: 400;
  border-radius: 15px;
  background: #fff;
  width: 100%;
  max-width: 600px;
}

.propicbox {
    float: left;
}

.propic {
    width: 50px;
    border-radius: 50px;   
}

.reviewerbox {
    margin: -7px 0 0 60px;
    
}



.reviewername {
    color: #39599a;
    font-size: 18px;
    font-weight: 600;
}

a, a:visited, a:hover {
    color: #39599a;
    text-decoration: none;
}

.reviewdate {
    font-size: 14px;
    line-height: 1em;
    font-weight: 400;
    color: #636972;
    margin: -10px 0 0 0
}


.review {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5em;
}

.bottomText {
  margin: 15px 0 15px;
  font-size: 14px;
  color: #636972;
}



</style>
<div class="container" style="margin-top: 70px;">

    <h1>{{ponhil.trip_name}}</h1>
	<ul class="container--tabs">
		<li class="tab tabs--active">Trip Overview</li>
		<li class="tab">Itinerary</li>
		<li class="tab">Include/Exclude</li>
		<li class="tab">Booknow</li>
		<li class="tab">Review</li>
	</ul>

	<div class="container--content">
		<div class="content content--active">
			<p style="text-align: justify;">{{ponhil.overview}}</p>
		</div>
		<div class="content">
			<h3>Itinerary</h3>
            {% for i in itenerary %}
			<p style="text-align: justify;"><b  style="font-weight: bold;">{{i.day}}</b>{{i.content}}</p>
            {% endfor %}
			</div>
		<div class="content">
			<h1>Include/Exclude</h1>
            <h6 style="font-weight: bold;">OUR SERVICES INCLUDE THE FOLLOWING DURING THE TRIP:</h6>
            <ul style="margin-left: -10px;">
            {%for pros in pros%}
                <li><i class="fa fa-check" style="color: green; margin-right: 10px;"></i>{{pros.content}}</li>
            {%endfor%}
            </ul>
            <h6 style="font-weight: bold;">OUR SERVICES EXCLUDE THE FOLLOWING DURING THE TRIP:</h6>
            <hr>
            <ul>
            {%for pros in cons%}
                <li><i class="fa fa-check" style="color: green; margin-right: 10px;"></i>{{pros.content}}</li>
            {%endfor%}               
            </ul>

		</div>
		<div class="content">
            {% load widget_tweaks %}
    <form method="POST" action="" enctype='multipart/form-data' class="contact-form">
			{% csrf_token %}
            <div style="display: flex;">
            <div style="display: flex; flex-direction: column;">
                {{form.trip_name.label}}
                <div class="form-group col-md-9">
                    {% render_field form.trip_name class="form-control" %}
                </div>
            </div>
            <div style="display: flex; flex-direction: column;">
                {{form.salutation.label}}
                <div class="form-group col-md-12">
                    {% render_field form.salutation class="form-control" %}
                </div>
            </div>


        </div>
            <div style="display: flex;">
            <div style="display: flex; flex-direction: column;">
                {{form.full_name.label}}
                <div class="form-group col-md-9">
                    {% render_field form.full_name class="form-control" %}
                </div>
            </div>
            <div style="display: flex; flex-direction: column;">
                {{form.email.label}}
                <div class="form-group col-md-12">
                    {% render_field form.email class="form-control" %}
                </div>
            </div>


        </div>
            <div style="display: flex;">
            <div style="display: flex; flex-direction: column;">
                {{form.telephone.label}}
                <div class="form-group col-md-9">
                    {% render_field form.telephone class="form-control" %}
                </div>
            </div>
            <div style="display: flex; flex-direction: column;">
                {{form.country.label}}
                <div class="form-group col-md-12">
                    {% render_field form.country class="form-control" %}
                </div>
            </div>


        </div>
            <div style="display: flex;">
            <div style="display: flex; flex-direction: column;">
                {{form.numberofperson.label}}
                <div class="form-group col-md-9">
                    {% render_field form.numberofperson class="form-control" %}
                </div>
            </div>
            <div style="display: flex; flex-direction: column;">
                {{form.arival.label}}
                <div class="form-group col-md-12">
                    {% render_field form.arival class="form-control" %}
                </div>
            </div>
        </div>
        {{form.postal_address.label}}
            <div class="form-group col-md-12">
                {% render_field form.postal_address class="form-control" %}
            </div>
        {{form.pickup.label}}
            <div class="form-group col-md-12">
                {% render_field form.pickup class="form-control" %}
            </div>
        {{form.pay.label}}
            <div class="form-group col-md-12">
                {% render_field form.pay class="form-control" %}
            </div>
        {{form.comments.label}}
            <div class="form-group col-md-12">
                {% render_field form.comments class="form-control" %}
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
                <input class=" btn btn-home-border" type="submit" value="Submit">
              </div>
            </div>

            </form>
		</div>
		<div class="content">
			<h1>Review</h1>
			<form method="POST" action="" enctype='multipart/form-data' class="contact-form">
                {% csrf_token %}

            {{reviews.email.label}}
                <div class="form-group col-md-12">
                    {% render_field reviews.email class="form-control" %}
                </div>
            {{reviews.name.label}}
                <div class="form-group col-md-12">
                    {% render_field reviews.name class="form-control" %}
                </div>
            {{reviews.comment.label}}
                <div class="form-group col-md-12">
                    {% render_field reviews.comment class="form-control" %}
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                    <input class=" btn btn-home-border" type="submit" value="Submit">
                  </div>
                </form>
                {% for revi in reviewss%}
                {% if revi.publishable %}
                <div class="reviewcard">
                    
                    <div class="reviewerbox">
                    <h4 style="margin-left:-100px ;">{{revi.name}} </h4>
                    <p style="margin-left:-100px ;" class="reviewdate">{{revi.date}}</p>
                    </div>
                    
                  <p  class="review" style="margin-left: -40px;">{{revi.comment}}</p>
                  
                    </div>
                {% endif %}
                {% endfor %}
                </div>
    
		</div>
	</div>
</div>

<script>
    const tabs = document.querySelectorAll(".tab");
const contents = document.querySelectorAll(".content");

for (let i = 0; i < tabs.length; i++) {
	tabs[i].addEventListener("click", () => {
		for (let j = 0; j < contents.length; j++) {
			contents[j].classList.remove("content--active");
		}
		for (let jj = 0; jj < tabs.length; jj++) {
			tabs[jj].classList.remove("tabs--active");
		}
		contents[i].classList.add("content--active");
		tabs[i].classList.add("tabs--active");
	});
}

</script>
{% endblock %}