{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<div class="about_royal">
<section class="desp_royal">
        <div class="heading_royal">
            <h1>About The Royal Britain Peak Nepal</h1>
        </div>
        <div class="discription_royal">
            <p>
                From the meeting taken place on the date of June 22th & 23th of 2021, The Municipal Council, the apex body of Mahakulung Rural Municipality composed of 29 members have declared- ‘The Royal Britain Peak’ in honor of great contribution of New Futures Nepal, UK based charity organization working in Nepal for long time. 
The height of the The Royal Britain Peak is approximately 5300m from the sea level and located to the southern part of Mt. Everest. 
New Futures Nepal has been engaged in providing an emergency humanitarian aid and in establishing educational infrastructures since 2015 in Mahakulung, the southern slopes of Mt. Everest, often known as home of the many porters/workers of mountain tourism. 
In spite of being so much rich in cultural and natural resources, the region of Mahakulung, the base of Mt. Everest Himalaya range is still not known for world tourism industry. 
Naming the Royal Britain Peak, the Mahakulung Municipality has two major objectives i.e. tourism promotion of the region and  honoring an incredible contribution of British people through NFN.  

            </p>
        </div>
</section>
<section class="image_royal">
        <div class="image_royal_image">
            <img src="{% static 'images/a1.jpeg' %}"  alt="" srcset="">
        </div>
    </section>
</div>

{% endblock %}