{% extends 'home/main.html' %}
{% load static %}
{% block content %}
<div class="whole" style=" margin-left: 20%; width: 70vw; margin-top: 80px;">
    <div class="heaing-loshar" style="width: 100%;" >
        <h1 style="color: #CE8200;" style="margin-left: auto;">Tihar</h1>
    </div>
    <br>
    <div class="section1">
            <p>Tihar is the five days celebration in Yama Panchak.</p>
            <br>
            <p>We couldn't figure out the actual day of Tihar Festival because the Nepal lunar calendar isn't published in advance.<br>  It usually occurs in the Nepali Kartik month (October to November on the Solar Calendar) and lasts five days.</p>
    
    <br>
    <br>
        </div>
    <div class="section2" style="display: flex; width: 100%;">
        <div class="writting">
            <h4 style="color: #CE8200;">When is Tihar this year</h4>
            <br>
            <h4 style="color: #CE8200;">The Five days of Tihar
            </h4>
            <br>
            <p>Kaag Tihar - Crow Pooja
            </p>
            <br>
            <p>Kukur Tihar  - Dog Pooja
            </p>
            <br>
            <p>Gai Tihar or Laxmi Pooja –  Cow or Goddess of Wealth Pooja
            </p>
            <br>
            <p>Goru Tihar, Govardhan Pooja, Maha Puja, (Aatma pooja) –  Ox Pooja
            </p>
            <br>
            <p>Bhai Tika, Bhai Dooj - Bother and Sister Pooja
            </p>
            <br>
            

            <p >Crows, dogs, cows, Ox and Laxmi, the goddess of prosperity and fortune, will all be honored at this festival.
                <br> Tihar is also known as the festival of lights because many candles and festive lanterns will be lit.</p>
                <br>
                <br>

        </div>
        <br>
        <br>
        <div class="images-section">
            <img src="{% static 'images/tiharimage1.jpeg' %}" alt="" width='350' height="250" style="margin-left:20px" srcset="">
        </div>
    </div>
    <div class="section2">
        <h3 style="color: #CE8200; text-align: center;"  >First day - Kag Tihar (Crow Puja)</h3>
        <div class="section2-content " style="display: flex;padding: 20px;">
        <img src="{% static 'images/kaag.jpeg' %}" alt="" width='350' height="250" srcset="">
        <p style="text-align: justify; padding: 20px;">The crow, Yama's informant, is honored on the first day of the festival, Kaag Tihar. 
        </p>
        </div>
    </div>
    <br>
        <br>
    <div class="section3">
        <h3 style="color: #CE8200; text-align: center;" >Second day - Kukur Tihar</h3>
        <div class="section2-content" style="display: flex; padding: 20px;">
        <p style="text-align: justify; padding: 20px;">The second day, Kukur Tihar, is dedicated to the worship of dogs as Yama's messengers.  
        </p>
        <img src="{% static 'images/kukur.jpeg' %}" alt="" width='350' height="250" srcset="">
        </div>
    </div>
    <div class="section4">
        <h4 style="color: #CE8200; text-align: center;">Third day – Gai (cow) Puja and Laxmi Puja</h4>
        <div class="section2-content" style="display: flex; padding: 20px;">
            <img img src="{% static 'images/gai.jpeg' %}" alt="" width='350' height="250" srcset="">
            <p style="text-align: justify; padding: 20px;" >Gai Tihar and Laxmi Puja are conducted on the third day. In the morning, cows are offered prayers and nourishment, 
                <br> and in the evening, Goddess Laxmi is offered special prayers and puja.</p>
                <br>
                <br>
</div>


    </div>
    <div class="section5">

        <h4 style="color: #CE8200; text-align: center;">Forth day - Goru Tihar, Govardhan Pooja, Maha Puja, (Aatma pooja) – Ox Worship (Pooja)</h4>
        <div class="section2-content" style="display: flex; padding: 20px;">
        <p style="text-align: justify; padding: 20px;">The fourth day is dedicated to the plow animal, oxen, and the Newari community also celebrates Maha Puja. <br> Three different types of pujas are done on Govardhan puja Goru Tihar. We also do Govardhan Puja, which entails  <br> creating a govardhan parbat hill out of cow dung. In Hindu tradition,
             cow dung is extremely important. <br> It was once utilized for everything from nightlight (Methane) to polishing traditional house mud floors. <br>The Newar community performs 
             Maha Puja, also known as self-puja, on this night. It is done in order to purify our bodies.</p>
        <img img src="{% static 'images/goru.jpeg' %}" alt="" width='350' height="250" srcset="">

        </div>

    </div>
    <div class="section6">
        <h4 style="color: #CE8200; text-align: center; "  >Fifth Day: Bhai Tika</h4>
        <div class="section2-content" style="display: flex; padding: 20px;">
        <img img src="{% static 'images/bhai.jpeg' %}" alt="" width='350' height="250" srcset="">
        <p style="text-align: justify; padding: 20px;">On the fifth day, sisters apply tika on their brothers' foreheads and bestow blessings. Sisters put "Tika of five colors" Paanch Rangi Tika - <br> Yellow, green, red, blue, 
            and white on their brothers' foreheads to ensure long life and pray to Yamraja for her brother's long life and prosperity on this day.</p>
    </div>
    </div>
</div>
{% endblock %}